.tag {
  border: 1px solid #ddd;
  padding: 4px 9px;
  margin: 5px;
  border-radius: 2px;
  display: inline-block;
  font-size: 14px;
  background: #f6f6f6;
  color: #888;
  font-family: Lato, sans-serif;
  outline: 0;
}

.clickable {
  cursor: pointer;
}
